/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/************************************************/
/* --------- STYLING VOOR DE BODY ----------- */
/************************************************/

body {
  color: white;
  margin: 0.5em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #010409;
}

h1 {
  position: relative;
  color: white;
  font-size: 15pt;
}

h2 {
  font-size: 10pt;
}

h3 {
  font-size: 7pt;
}

main {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: hidden;
}

section {
  margin: 1em;
}

/*************************************************/
/* --------- STYLING VOOR DE HEADER ----------- */
/*************************************************/

header {
    display: flex;
    justify-content: space-between;
   background-color:rgb(23, 23, 23) ;
    position: fixed;
    top:0;
    width: 100vw;
    height: 60px;
    z-index: 2;
    overflow: hidden;
  }
  
  
  
  header nav ul {
    position: fixed;
    left: -41px;
    background-color: whitesmoke;
    color: #040D21;
    height: 100%;
    width: 90vw;
    top: -1em;
    flex-wrap: wrap;
    border: solid silver 2pt;
  }
  
  header nav li {
    list-style-type: none;
    font-size: 14pt;
    line-height: 2em;
    border-bottom: solid silver 1pt;
    padding: .5em;
    margin: .1em .6em;
  }
  
  
  
  header nav li:first-of-type {
    padding: 1em;
    margin: 0;
    list-style-type: none;
    font-size: 20pt;
    line-height: 2em;
    border:solid silver 1pt;
    background-color:rgb(218, 218, 218);
  }
  
  header nav div input {
    border: black;
    border-radius: 6px;
    width: 80vw;
    height: 2em;
    padding: 1em;
    background-color: white;
  }
  
  header nav li:nth-of-type(7) {
    border: none;
    padding-bottom: 0;
  }
  
  header nav li:last-of-type {
    border: none;
    padding-top: 0;
  }
  
  header nav ul div {
    display: flex;
    width: 100%;
    padding: .75em 0;
    justify-content: space-around;
    border: none;
  }
  
  
  header nav ul div button {
    border: 1px solid silver;
    background-color: whitesmoke;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 12pt;
  
  }
  
  header nav ul div button:first-of-type {
  border:none;
  background-color: whitesmoke;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  .NavTranslateL {
    transform: translateX(-110vw);
    display: hidden;
  }
  
  .gitHubLogo {
    width: 35px;
    height: 35px;
    position: absolute;
    left: -30px;
    top: -35px;
  }
  
  
/*************************************************/
/* --------- STYLING VOOR DE MAIN ----------- */
/*************************************************/
/* https://all-free-download.com/free-vector/download/dark-space-night-sky-planet_6816709.html */

h1 {
  position: relative;
  left: 2em;
  top: 1em;
  font-size: 20pt;
}

main p {
  line-height: 1.25em;
  font-size: large;
}

main section:first-of-type h2 {
text-align: center;
width: 100vw;
}

main section:first-of-type ul {
display: flex;
list-style: none;
justify-content:space-evenly;
width: 85vw;
}

main section:first-of-type a {
  text-decoration: none;
  flex-grow: 1;
  display: inline-block;
  color: lightskyblue;
}

main section:first-of-type a:first-of-type {
  flex-grow: 4;
}

/*****************************************/
/**--------------1----------------------**/
/*****************************************/
section:nth-of-type(2) {
  font-size: 8pt;
}

main h2:first-of-type {
  position: relative;
  margin-top: 2em;
  font-size: 14pt;
}

/*****************************************/
/**--------------2----------------------**/
/*****************************************/
section:nth-of-type(3) {
  border: 1px solid rgb(58, 58, 58);
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  text-align: center;
}

/*https://media.giphy.com/media/l41YcLtmnhYyUlbfq/giphy.gif?cid=ecf05e47ccvslvf8czh3tx9m2yn0805fh4qxr3dcrz0m9mrn&rid=giphy.gif&ct=g*/
section:nth-of-type(3) img {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

section:nth-of-type(3) div a:first-of-type {
color: lightsteelblue;
text-decoration: none;
padding: 10px;
border:2px solid lightsteelblue;
border-radius: 1em 0 0 1em;
transform:translateX(2px);
}

section:nth-of-type(3) div a:nth-of-type(2) {
color: lightsteelblue;
text-decoration: none;
padding: 10px;
border:2px solid lightsteelblue;
border-radius: 0 1em 1em 0;
}

section:nth-of-type(3) div {
display: flex;
justify-content: flex-end;
width: 90vw;
}

section:nth-of-type(3) h2 {
width: 90vw;
}

section:nth-of-type(3) article a{
color: lightsteelblue;
text-decoration: none;
gap:1em;
}

section:nth-of-type(3) footer {
display: flex;
flex-direction: column;
width: 100vw;
}


/*****************************************/
/**--------------3----------------------**/
/*****************************************/

section:nth-of-type(4) {
display: flex;
padding: 1em;
margin: .5em;
border: .5px solid rgba(58, 58, 58, 0.31);
border-radius: 1em;
overflow: hidden;
}

section:nth-of-type(4) h3{
position: relative;
display: block;
width: 110%;
background-color:rgba(58, 58, 58, 0.31) ;
margin: -5%;
padding-top: 2em;
padding-left: 2em;
height: 5em;
}
/*****************************************/
/**--------------4----------------------**/
/*****************************************/

section:nth-of-type(5) {
display: flex;
padding: 1em;
margin: .5em;
border: .5px solid rgb(58, 58, 58);
border-radius: 1em;
overflow: hidden;
gap: .75em;
max-width: 400px;
}

section:nth-of-type(5) h2{
position: relative;
display: block;
width: 110%;
background-color:rgba(58, 58, 58, 0.31) ;
margin: -5%;
padding-top: 1em;
padding-left: 2em;
height: 3em;
margin-bottom: .5em;
}

section:nth-of-type(5) article{
display: flex;
flex-direction: row;
gap: 2em;
padding: 10px;
border: 1px solid rgb(58, 58, 58);
border-radius: .5em;
width: 100%;
}

section:nth-of-type(5) article div{
display: flex;
flex-direction: column;
}

section:nth-of-type(5) article a{
display: flex;
flex-direction: column;
text-decoration: none;
color:rgb(121, 121, 121);
}

section:nth-of-type(5) article img{
border-radius: .5em;
}

section {
  color: azure;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

footer {
  background: black;
  color: white;
  flex-direction: row;
  overflow: hidden;
  max-width: 100vw;
}
