/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  border:1px dotted paleturquoise ;
  background-color: rgb(87, 155, 76);
  transform: scale(1.3);
}

/************************************************/
/* --------- STYLING VOOR DE BODY ----------- */
/************************************************/

body {
  color: white;
  margin: 0.5em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #040d21;
}

/*************************************************/
/* --------- STYLING VOOR DE HEADER ----------- */
/*************************************************/

header {
  display: flex;
  position: fixed;
  justify-content: space-between;

  background-color: #040d21;

  width: 100%;
  height: 60px;
  top: 0;

  overflow: hidden;
  z-index: 2;
}

header nav ul {
  position: fixed;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: solid silver 2pt;
  color: #040d21;

  left: -41px;
  height: 100%;
  width: 70%;
  max-width: 70%;
  top: -1em;

  transition: 1s;
}

header nav li {
  list-style-type: none;

  padding: 0.5em;
  margin: 0em 1em;
  border-bottom: solid silver 1pt;

  font-size: 14pt;
  line-height: 2em;
}

header nav li:first-of-type {
  padding: 1.5em;
  background-color: slategray;
}

header nav li:nth-of-type(7) {
  border: none;
  padding-bottom: 0;
}

header nav li:last-of-type {
  border: none;
  padding-top: 0;
}

header nav ul div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.75em 0;
  border: none;
}

header section {
  margin-right: 2em;
}

header section button {
  background-color: transparent;
  border: none;
}

header a {
  color: white;
  text-decoration: none;
}

.menuKnoppie {
  width: 25px;
  transition: 1s;
}

.menuKnoppie:hover {
  width: 35px;
  transform: translateY(-0.5em);
  transition: 1s;
}

header nav ul div button:first-of-type {
  background-color: whitesmoke;
  border: none;
}

header a {
  color: white;
  text-decoration: none;
}

.NavTranslateL {
  display: hidden;
  transform: translateX(-110vw);

  transition: 1s;
}

.gitHubLogo {
  position: absolute;
  left: -30px;
  top: -35px;
  width: 35px;
  height: 35px;
}

/*************************************************/
/* --------- STYLING VOOR DE MAIN ----------- */
/*************************************************/
/* https://all-free-download.com/free-vector/download/dark-space-night-sky-planet_6816709.html */

h1 {
  position: relative;
  left: 2em;
  top: 1em;
  font-size: 20pt;
}

main {
  display: flex;
  flex-direction: column;
}

main p {
  line-height: 1.25em;
  font-size: large;
}

main a {
  text-decoration: none;
  max-width: 20em;
}
/**************  1  ***/

main section:nth-of-type(1) p {
  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 1em;

  text-align: center;
  font-size: 14pt;
  line-height: 1.5em;

  transition: 1s;
}

main section:nth-of-type(1) h2 {
  text-align: center;
  margin-top: 1.5em;

  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 1em;

  font-size: 28pt;
  font-weight: 600;

  transition: 1.5s;
}

main section:nth-of-type(1) form {
display: flex;
flex-wrap: wrap;
gap: 1em;
}

main a:hover {
  background-color: royalblue;
  border: 1px solid rgb(0, 60, 97);
  transition: 0.5s;
}


main input {
  width: 80vw;
  height: 2em;
  border: black;
  border-radius: 1em;
  text-align: center;
  font-size: 12pt;
}

main a {
  display: block;

  width: 80vw;
  height: 2em;
  margin: 0 0 1em 0;
  padding: 0.3em 0px;

  background: green;
  border-radius: 1em;
  color: white;
  text-align: center;
  text-decoration: none;
}

/**************  2  ***/

main section:nth-of-type(2) {
  width: 80vw;
  text-align: center;
}

main section:nth-of-type(2) div {
  padding: 2em;
  width: 130%;
  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 1em;

  color: #040d21;
  text-align: left;
}

main section:nth-of-type(2) div a {
  position: relative;
  width: 105%;
  transform: translateX(-1em);
}

/**************  3  ***/
main section:nth-of-type(3) {
  background-color: #040d21;
}

main section:nth-of-type(3) h2 {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #3237cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25pt;
  text-align: left;
}

/**************  4  ***/

.firstSectionBackground {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: -1;
}

/*****************************************/
/**--------------4----------------------**/
/*****************************************/
main sectio:nth-of-type(4) a:first-of-type {
  width: 20em;
  background-color: transparent;
  color: #30cfd0;
  text-decoration: none;
}

section:nth-of-type(4) a:nth-of-type(2) {
  display: block;
  width: 20em;
  height: 2em;

  background: green;

  border-radius: 1em;
  margin: 0 0 1em 0;
  color: white;
  text-align: center;
  text-decoration: none;
}

main section:nth-of-type(4) {
  margin-bottom: -1px;
  background-color: whitesmoke;
  border-radius: 1em 1em 0em 0em;
  color: #040d21;
}

/*****************************************/
/**--------------5----------------------**/
/*****************************************/

main section:nth-of-type(5) {
  position: relative;
  /* background-image: url(../images/Galaxy-Bg.jpeg); */
  background-size: cover;
  overflow: hidden;
  padding-bottom: 4em;
  border-radius: 0em 0em 1em 1em;
  color: whitesmoke;
  transition: 0.5s;
}

section:nth-of-type(5)::after {
  content: url(../images/Galaxy-Bg.jpeg);
  opacity: 60%;
  height: auto;
  position: absolute;
  z-index: -1;

  animation-name: bgRotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes bgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section:nth-of-type(5) a:first-of-type {
  display: block;
  width: 20em;
  height: 2em;
  margin: 0 0 1em 0;

  background: green;
  border-radius: 1em;

  color: white;
  text-align: center;
  text-decoration: none;
}

section:nth-of-type(5) a:nth-of-type(2) {
  width: 20em;
  color: antiquewhite;
}

.footerIllustration {
  position: absolute;
  opacity: 0;
  transition: 3s;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em 1.3em;

  color: azure;
}

/* 
******************************************************************
********************* FOOTER CODE ********************************
******************************************************************
*/

footer {
  display: flex;
  width: 100vw;
  height: 40em;
  margin-left: -1.5em;
  flex-direction: column;
  background-color: black;
  color: aliceblue;
  border-top: 1px solid blanchedalmond;
  font-size: 13pt;
}

footer ul {
  list-style-type: none;
}

/* 
******************************************************************
********************* MediaQuery 400px ***************************
******************************************************************
*/

@media only screen and (min-width: 400px) {
  main {
    margin: 0em 2em;
  }

  section {
    border-radius: 1em;
  }

  main section:nth-of-type(1) {
    align-items: flex-start;
    transition: 1s;
  }

  main section:nth-of-type(1) h2 {
    margin-top: 1.5em;
    width: 65%;
    max-width: 400px;

    font-size: 26pt;
    font-weight: 800;
    text-align: left;

    transition: 1s;
  }

  main section:nth-of-type(1) p {
    width: 65%;
    max-width: 400px;
    margin-left: 0;

    text-align: left;
    font-size: 15pt;
    line-height: 1.3em;

    transition: 1s;
  }


  main section:nth-of-type(1) input {
    max-width: 250px;
    border-radius: 0.5em;
    transform: translate(-20px, 0px);
  }

  main section:nth-of-type(1) a {
    width: 20em;
    max-width: 16em;
    margin-left: -1.3em;
    padding-left: 5px;
    border-radius: 0.5em;

    font-size: 12pt;
  }

  main section:nth-of-type(2) div {
    padding: 2em;
    width: 122%;
    margin: 0em -2em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.214);
    border-radius: 1em;

    color: #040d21;
    text-align: left;
  }
}



/* 
******************************************************************
********************* MediaQuery 1000px ***************************
******************************************************************
*/

@media only screen and (min-width: 980px) {
  .firstSectionBackground {
    position: absolute;
    width: 100%;
    opacity: 100%;

    z-index: -1;
  }

  header nav ul {
    display: flex;
    position: fixed;
    height: 3em;
    top: 2.5em;

    flex-direction: row;
    flex-wrap: nowrap;
    width: 103vw;
    max-width: 103vw;

    background-color: #0d1c3e;

    border: none;
    transition: 0.2s;
  }

  header nav ul li {
    display: inline;
    padding: 0em 1em;
    color: silver;
    font-size: 15pt;
  }

  header nav ul li:nth-of-type(1) {
    background-color: transparent;
    border: none;
  }

  header nav ul li:hover {
    background-color: #3237cd;
    transition: 0.4s;
  }

  header nav ul li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  header nav ul li input {
    display: inline;
    width: 250px;
    margin-top: -0.3em;
  }

  header nav ul li div {
    display: flex;
    gap: 0.5em;
    margin-left: 1em;
    justify-content: space-between;
  }

  header nav ul li div button {
    display: inline;
    padding: 0.5em;
    margin-top: -0.2em;
    width: 65px;
    font-size: 8pt;
  }

  header nav li:first-of-type {
    padding: 1em;
    margin: 0;
    list-style-type: none;
    font-size: 20pt;
    line-height: 2em;
    border: solid silver 1pt;
    background-color: rgb(218, 218, 218);
  }

  header nav div input {
    width: 80vw;
    height: 2em;
    padding: 1em;
    background-color: white;
    border: black;
    border-radius: 6px;
  }

  main section:nth-of-type(2) {
    width: 60%;
  }

  main section:nth-of-type(1) h2 {
    margin-top: 3em;
  }

  .NavTranslateL {
    display: flex;
    transform: translateX(0vw);

    transition: 0.5s;
  }

  header section button,
  header section a {
    opacity: 0;
  }

  main section:nth-of-type(2) {
    max-width: 500px;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  section:nth-of-type(5)::after {
    content: url(../images/Galaxy-Bg.jpeg);
    position: absolute;
    opacity: 0%;
    height: auto;

    z-index: -1;

    animation-name: bgRotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  section:nth-of-type(5) {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.543);
  }

  section:nth-of-type(5) p {
    width: 40%;
    color: rgba(0, 0, 0, 0.543);

    font-size: 14pt;
  }

  main section:nth-of-type(4),
  main section:nth-of-type(5),
  main section:nth-of-type(6) {
    margin: 0 20em;
    transition: 0.3s;
  }
  main section:nth-of-type(4) {
    margin-top: 0.5em;
  }

  .footerIllustration {
    opacity: 1;
    position: absolute;
    bottom: -107em;
    width: 83%;
    left: 12em;
    transition: 3s;
  }
}

@media only screen and (min-width: 1500px) {
  main section:nth-of-type(1) h2 {
    background-color: transparent;
    margin-top: 3em;
  }

  main section:nth-of-type(1) p {
    background-color: transparent;
  }
}
